name: Build-Windows-Installer

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.9.3
        host: windows
        target: desktop
        arch: win64_msvc2022_64
        modules: qthttpserver qtwebsockets

    - name: Setup MSVC
      uses: microsoft/setup-msbuild@v2

    - name: Configure
      run: cmake -B build -S . -A x64 -DCMAKE_PREFIX_PATH="%Qt6_DIR%"

    - name: Build
      run: cmake --build build --config Release

    - name: Pack (CPack)
      working-directory: build
      run: cpack -C Release

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: installer
        path: |
          build/PicMover*.exe
